[submodule "srcs/node/frontend"]
	path = srcs/node/frontend
	url = https://github.com/42-NextLevel/frontend.git
[submodule "srcs/django/backend"]
	path = srcs/django/backend
	url = https://github.com/42-NextLevel/backend.git
